<!--header class="intro-header" style="background-image: url('')"-->
<header class="intro-header" style="background-image: url('/img/about-bg.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <span class="white-title subheading basic-drop-shadow">Vote</span>
                        <hr class="small">
                        <h1 class="white-title header-drop-shadow">Tane Apanui</h1>
                        <hr class="small">
                        <span class="white-title subheading basic-drop-shadow">Hornby Ward Councillor</span>
                    </div>
                </div>
            </div>
        </div>
    </header>