<!--header class="survey-header-top" style="background-image: url('')"-->
<header class="survey-header survey-header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <hr class="large">
                        <h1 class="header-drop-shadow">Just a few quick questions</h1>
                        <h1 class="header-drop-shadow">about the Cantrax Rail Network</h1>
                        <hr class="large">
                    </div>
                </div>
            </div>
        </div>
    </header>