<!--header class="intro-header" style="background-image: url('')"-->
<header class="space-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <!--span class="subheading basic-drop-shadow">Vote</span-->
                        <hr class="large">
                        <h1 class="header-drop-shadow">Would You Rather</h1>
                        <hr class="large">
                        <!--span class="subheading basic-drop-shadow">Hornby Ward Councillor</span-->
                    </div>
                </div>
            </div>
        </div>
    </header>