<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-filler text-center">
            <hr class="small-black">
                <h1>About</h1>
                <hr class="small-black">
                <p>Hornby was my introduction to city life. 20 years ago I was working at Hornby McDonalds, playing for Hornby hockey club and living there too.</p>
                <p>I've been a fan of the community since then.</p>
                <p>Even though raised on the Coast in a house with no running water and rooms that you could see through the floor onto the dirt ,I've always enjoyed being part of a community and helping out. </p>
                <p>From working with deaf communities around Aus and NZ, to homeless and sporting people.</p>
                <p>Coaching and playing in National championship winning teams, working digging holes or flying planes - I never forget where I come from and the kind people who've helped me get where I am.</p> 
                <p>I am 100% committed to Hornby and it's community because Hornby helped make me who I am today.</p>
            </div>
                <!--div class="site-filler text-center"><%= process.env.Test %></div-->
        </div>
    </div>
</div>
