
<form id="myform" class="form-labels-on-top" action="/cantrax" method="post" enctype="application/x-www-form-urlencoded">

<img src='/img/cantrax_map.jpg'></img>
    <div class="form-row">
        <label>
            <span>Between what locations would you most likely be traveling?</span>
            <select name="location_1">
                <option>Amberley</option>
                <option>Darfield</option>
                <option>Heathcote</option>
                <option>Hornby</option>
                <option>Kaiapoi</option>
                <option>Kirwee</option>
                <option>Lyttelton</option>
                <option>Moorhouse Ave</option>
                <option>Papanui</option>
                <option>Rangiora</option>
                <option>Riccarton</option>
                <option>Rolleston</option>
                <option>Strowan</option>
                <option>Tower Junction</option>
                <option>Waipara</option>
                <option>Woolston</option>
            </select>
        </label>
    </div>
    <div class="form-row">
        <label>
            <!--span>Dropdown</span-->
            <select name="location_2">
                <option>Amberley</option>
                <option>Darfield</option>
                <option>Heathcote</option>
                <option>Hornby</option>
                <option>Kaiapoi</option>
                <option>Kirwee</option>
                <option>Lyttelton</option>
                <option>Moorhouse Ave</option>
                <option>Papanui</option>
                <option>Rangiora</option>
                <option>Riccarton</option>
                <option>Rolleston</option>
                <option>Strowan</option>
                <option>Tower Junction</option>
                <option>Waipara</option>
                <option>Woolston</option>
            </select>
        </label>
    </div>
    <div class="form-row">
        <label>
            <span>How much would you expect to pay per trip?</span>
            <select name="cost_1">
                <option>$25.00</option>
                <option>$24.00</option>
                <option>$23.00</option>
                <option>$22.00</option>
                <option>$21.00</option>
                <option>$20.00</option>
                <option>$19.00</option>
                <option>$18.00</option>
                <option>$17.00</option>
                <option>$16.00</option>
                <option>$15.00</option>
                <option>$14.00</option>
                <option>$13.00</option>
                <option>$12.00</option>
                <option>$11.00</option>
                <option>$10.00</option>
                <option>$9.00</option>
                <option>$8.00</option>
                <option>$7.00</option>
                <option>$6.00</option>
                <option>$5.00</option>
                <option>$4.00</option>
                <option>$3.00</option>
                <option>$2.00</option>
                <option>$1.00</option>
            </select>
        </label>
    </div>
    <div class="form-row">
        <label>
            <span>How many times a week would you use Cantrax?</span>
            <select name="usage_1">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
            </select>
        </label>
    </div>
    <div class="form-row">
                <input type="submit" id="mysubmit" />
            </div>
</form>
<div id="form_output">

</div>