<div class="container">
<div class="site-filler text-center">
            <hr class="small-black">
                <h1>Candidates I endorse for Change</h1>
                <hr class="small-black">
    <!------------------------------------------Alexandra Davids 	Linwood------------------------------------------------>
    <%- include('../partials/cards/endorsed_card_left.ejs', {person:people[0]}); %>
    <hr class="small-between">
    <!------------------------------------------Mike Davidson	Papanui------------------------------------------------>
    <%- include('../partials/cards/endorsed_card_right.ejs', {person:people[1]}); %>
     <hr class="small-between">
    <!------------------------------------------Deon Swiggs		Central------------------------------------------------>    
    <%- include('../partials/cards/endorsed_card_left.ejs', {person:people[2]}); %>
     <hr class="small-between">
    <!------------------------------------------Kevin Clarke		Halswell------------------------------------------------>
    <%- include('../partials/cards/endorsed_card_right.ejs', {person:people[3]}); %>
     <hr class="small-between">
    <!------------------------------------------Claire Exton		Hornby Community Board------------------------------------------------>
    <%- include('../partials/cards/endorsed_card_left.ejs', {person:people[4]}); %>
     <hr class="small-between">
    <!------------------------------------------Sara Templeton	Heathcoate------------------------------------------------>
    <%- include('../partials/cards/endorsed_card_right.ejs', {person:people[5]}); %>
</div>
</div>