
    <div class="col-lg-6 col-md-6" >
        <button type="button" class="btn btn-primary btn-block btn-question-1" onclick="question_post('<%= question_number %>', '1')"><%= question_1 %></button>
    </div>
    <div class="col-lg-6 col-md-6">
        <button type="button" class="btn btn-success btn-block btn-question-2" onclick="question_post('<%= question_number %>', '2')"><%= question_2 %></button>
    </div>
