<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-filler text-center">
            <hr class="small-black">
                <h1>Vision for Hornby</h1>
                <hr class="small-black">
                <p>Recreation centre as close to the Hub as possible to centralise facilities and draw people to the parks.</p>

<p>Railway station to service the Hub and a new recreation centre.</p>

<p>Templeton bypass to allow heavy traffic easy access to the Southern motorway to reduce the amount of trucks passing through Hornby</p>

	<p>Increased youth participation in the community</p>

	<p>Bridge the generation and cultural gaps for a stronger, better Hornby.</p>
            </div>
                <!--div class="site-filler text-center"><%= process.env.Test %></div-->
        </div>
    </div>
</div>
