<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="/">Vote Tane</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <!-- content links -->
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/goals">Goals</a>
        </li>
        
        <!-- Disabled
        <li>
          <a href="post.html">Sample Post</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
        end od Disabled-->
      </ul>
    </div>
            <!-- /.navbar-collapse -->
  </div>
        <!-- /.container -->
</nav>