<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta property="og:image" content="http://votetane.com/img/facebook.jpg" />
<meta property="og:title" content="Vote Tane"/>
<meta property="og:site_name" content="Tane Apanui for the people" />
<meta property="og:url" content="http://votetane.com/"/>
<meta property="og:description" content="Young energetic politician for Hornby, Christchurch"/>
