<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<meta property="og:image" content="http://votetane.com/img/cantrax_image.jpg" />
<meta property="og:title" content="Cantrax Rail Network Survey"/>
<meta property="og:site_name" content="Cantrax Rail Network" />
<meta property="og:url" content="http://votetane.com/cantrax_survey"/>
<meta property="og:description" content="Do you like the idea of using trains to travel around not only Christchurch, but also the Canterbury region? Then help get the wheels spinning and spare a moment to fill out this super short survey."/>
