/*!
 * Start Bootstrap - Clean Blog v3.3.7+1 (http://startbootstrap.com/template-overviews/clean-blog)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
html{
  background-color: #FFFFFF;
}
body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 20px;
  color: #333333;
}
p {
  line-height: 1.5;
  margin: 30px 0;
  font-family: 'Open Sans', sans-serif;
  color: rgba(50,50,50,1);
}
p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}
a {
  color: #333333;
}
a:hover,
a:focus {
  color: #0085A1;
}
a img:hover,
a img:focus {
  cursor: pointer;
}
blockquote {
  color: #777777;
  font-style: italic;
}
hr.small {
  max-width: 200px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

hr.small-black {
  max-width: 200px;
  margin: 15px auto;
  border-width: 2px;
  border-color: rgba(50,50,50,1);
}

hr.small-between {
  max-width: 500px;
  margin: 15px auto;
  margin-top : 20px;
  border-width: 0.5px;
  border-color: rgba(50,50,50,0.2);
}
.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
}
.navbar-custom .navbar-header .navbar-toggle {
  color: #777777;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;
    /*drop shadow here*/
    text-shadow:0px 2px 15px rgba(170,0,170,0.15);
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    /*drop shadow here*/
    text-shadow:0px 2px 15px rgba(170,0,170,0.15);
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #333333;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085A1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #333333;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085A1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.intro-header {
  background-color: #777777;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
  -webkit-box-shadow: -1px -3px 61px -1px rgba(125,107,125,0.53);
  -moz-box-shadow: -1px -3px 61px -1px rgba(125,107,125,0.53);
  box-shadow: -1px -3px 61px -1px rgba(125,107,125,0.53);

}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 60px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 28px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}
.post-preview > a {
  color: #333333;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #0085A1;
}
.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}
.post-preview > .post-meta {
  color: #777777;
  font-size: 18px;
  font-style: italic;
  margin-top: 0;
}
.post-preview > .post-meta > a {
  text-decoration: none;
  color: #333333;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0085A1;
  text-decoration: underline;
}
@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 36px;
  }
}
.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #0085A1;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #0085A1;
  border: 1px solid #0085A1;
  color: white;
}
.pager {
  margin: 20px 0 0;
}
.pager li > a,
.pager li > span {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 15px 25px;
  background-color: white;
  border-radius: 0;
}
.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #0085A1;
  border: 1px solid #0085A1;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #777777;
  background-color: #333333;
  cursor: not-allowed;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085A1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085A1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  -webkit-tap-highlight-color: #0085A1;
}

.header-drop-shadow {
  text-shadow: 3px 1px 100px rgba(20,100,256,0.2);
}

.basic-drop-shadow {
  text-shadow: 3px 1px 4px rgba(100,100,200,0.2);
}

.space-header{
  height: 300px;
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( cyan , white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( cyan, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( cyan, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient( cyan , white); /* Standard syntax */
  
}

.survey-header{
  height: 300px;
  background: #333333; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( #333333 , #555555); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #333333 , #555555); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #333333 , #555555); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #333333 , #555555); /* Standard syntax */
}

.survey-header-top {
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;*/
  color: white;
  font-size: 2vw;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
  -webkit-box-shadow: -1px -3px 61px -1px rgba(125,107,125,0.53);
  -moz-box-shadow: -1px -3px 61px -1px rgba(125,107,125,0.53);
  box-shadow: -1px -3px 61px -1px rgba(125,107,125,0.53);

}

.btn-block{
  height: 200px;
}

.white-title{
  color:rgba(255,255,255,1); 
}

.img-circle {
  cursor:pointer;
    border-radius: 50%;
    width: 160px;
    -webkit-box-shadow: -1px 10px 16px -1px rgba(125,107,125,0.2);
  -moz-box-shadow: -1px 10px 16px -1px rgba(125,107,125,0.2);
  box-shadow: -1px 10px 16px -1px rgba(125,107,125,0.2);
}



.endorse-card{
  text-align: left;
}

.endorse-text-h2{
  margin-top: 50px;
}


.endorse-text-p{
  margin-top: 0px;
}



@media only screen and (min-width: 768px) {
  .endorse-text-left{
    padding-left: 60px;
    padding-right: 0px;
    text-align: left;
  }
   .endorse-text-right{
    padding-right: 60px;
    text-align: right;
  }
  .img-padding-var-1{
    padding-right:55px;
    text-align: right;
  }
  .img-padding-var-2{
    padding-left:60px
  }
}


@media only screen and (max-width: 1199px) {
  .img-padding-var-1{
    padding-left:0px;
    padding-right:70px;
  }

  .img-padding-var-2{
    padding-left:70px;
    padding-right:0px;
  }
}

@media only screen and (max-width: 991px) {
  .img-padding-var-1{
    padding-left:0px;
    padding-right:60px;
  }
  .img-padding-var-2{
    padding-left:65px;
    padding-right:0px;
  }
}

@media only screen and (max-width: 767px) {
  .endorse-card{
  text-align: center;
}

.endorse-text-h2{
  margin-top: 10px;
}


.endorse-text-p{
  margin-top: 0px;
}
  .endorse-text-left{
    padding-left: 0px;
    text-align: center;
    padding-right:0px;
  }
   .endorse-text-right{
    padding-right: 0px;
    text-align: center;
    padding-left:0px;
  }
  .img-padding-var-1{
    padding-top:5px;
    padding-left:0px;
    padding-right:0px;
  }
  .img-padding-var-2{
    padding-top:5px;
    padding-left:0px;
    padding-right:0px;
  }
  .img-circle{
    width: 120px;
  }
  hr.small-between {
    margin-top: 10px;
  }
  .endorse-text-p{
  line-height: 0px;
  height: 0px;
}
}

.coming-soon{
  font-size: 3em;
  font-weight: 300px; 
  color: rgba(50,50,50,1);
}



.form-labels-on-top{
    box-sizing: border-box;
    max-width: 70vw;
    margin: 0 auto;
    padding: 1vw;

    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    font: bold 14px sans-serif;
    text-align: center;
    align-content: center;
}

.form-labels-on-top img{
    width: 50vw;
}

@media only screen and (max-width: 767px) {
  .form-labels-on-top{
    box-sizing: border-box;
    max-width: 99vw;
    margin: 0 auto;
    padding: 1vw;

    background-color:  #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);

    font: bold 14px sans-serif;
    text-align: center;
}
.form-labels-on-top img{
    width:80vw;
}

}

.form-labels-on-top .form-row{
    text-align: center;
    margin: 2vw auto 0;
}

#form_output{
  text-align: center;
}

.form-labels-on-top .form-title-row{
    margin: 0 auto 50px;
}

.form-labels-on-top h1{
    display: inline-block;
    box-sizing: border-box;
    color: #4C565E;
    font-size: 24px;
    padding: 0 0 12px 0;
    margin: 0;
    border-bottom: 2px solid #6CAEE0;
}

.form-labels-on-top .form-row > label span{
    display: block;
    box-sizing: border-box;
    color:  #5f5f5f;
    width: auto;
    padding: 0 0 12px;
}

.form-labels-on-top input{
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 300px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.form-labels-on-top input[type=radio],
.form-labels-on-top input[type=checkbox]{
    box-shadow: none;
    width: auto;
}

.form-labels-on-top select{
    background-color: #ffffff;
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 40vw;
    margin: auto 0px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.form-labels-on-top .form-radio-buttons > div{
    margin-bottom: 10px;
}

.form-labels-on-top .form-radio-buttons label span{
    margin-left: 8px;
    color:  #5f5f5f;
    font-weight: normal;
}

.form-labels-on-top .form-radio-buttons input{
    width: auto;
}

.form-labels-on-top button{
    border-radius: 2px;
    background-color:  #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    
    margin: auto 0px;
    margin-top: 15px;
}

/*	Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */

.img-trains{
  width: 40vw;
}

@media (max-width: 600px) {

    .form-labels-on-top{
        padding-top: 20px;
    }

    .form-labels-on-top input{
        width: 50vw;
    }
    .form-labels-on-top select{
    background-color: #ffffff;
    color:  #5f5f5f;
    box-sizing: border-box;
    width: 70vw;
    margin: auto 0px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 18px;
    border: 1px solid #dbdbdb;
}

.img-trains{
  width: 80vw;
}
}

#form_output{
  font-size: 1.5em;
}

