<div class="row">
        <div class="col-lg-12 endorse-card">
            <div class="col-lg-3 col-md-2 col-sm-1 hidden-xs"></div>
            <div class="col-lg-2 col-md-3 col-sm-4 img-padding-var-2">
            <a href="<%= person.link %>"><img class="img-circle" src='<%= person.image %>'></a>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6 endorse-text-right">
            <h2 class="endorse-text-h2"><%= person.name %></h2>   
            <p class="endorse-text-p"><%= person.location %></p>   
            </div>        
            <div class="col-lg-3 col-md-2 col-sm-1 hidden-xs"></div>
        </div>
    </div>