<!DOCTYPE html>
<html>
<head>
  <% include ../partials/meta/meta_votetane.ejs %>
  <% include ../partials/header.ejs %>
</head>

<body>
    <!-- Google Analytics -->
    <% include ../partials/general_analytics.ejs %>
    
    <!-- Navigation Bar -->
    <% include ../partials/nav.ejs %>
    
    <!-- Page Header -->
    <% include ../partials/page_headers/about_header.ejs %>


    <!-- Main Content -->
    <!--p><%= tagline %></p-->
    <!--p><%= process.env.Test %></p-->
    <% include ../partials/bio.ejs %>
    
    
       

    <hr>



<% include ../partials/footer.ejs %>
</body>
</html>
