<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src="/js/cantrax_handler.js"></script>
</head>

<body>
    <!-- Google Analytics -->
    <% include ../partials/general_analytics.ejs %>
    
    <!-- Navigation Bar -->
    <% include ../partials/nav.ejs %>
    
    <!-- Page Header -->
    <% include ../partials/page_headers/about_header.ejs %>


    <!-- Main Content -->
    <div class="container">
        <% include ../partials/cantrax_survey.ejs %>
    </div>
    
       

    <hr>



<% include ../partials/footer.ejs %>
</body>
</html>