<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script type="text/javascript" src="/js/wyr_handler.js"></script>
</head>

<body>
    <!-- Google Analytics -->
    <% include ../partials/general_analytics.ejs %>
    
    <!-- Navigation Bar -->
    <% include ../partials/nav.ejs %>

     <!-- Page Header -->
    <% include ../partials/page_headers/space_header.ejs %>

    <!-- Main Content -->
    <div class="container">
      <%- include('../partials/game.ejs', {question_1: question_1, question_2: question_2, question_number: question_number}); %>
      <% include ../partials/comments.ejs %>
    </div>
    
       

    <hr>



<% include ../partials/footer.ejs %>
</body>
</html>
