<!DOCTYPE html>
<html>
<head>
  <% include ../partials/meta/meta_votetane.ejs %>
  <% include ../partials/header.ejs %>
</head>

<body>
    <!-- Google Analytics -->
    <% include ../partials/general_analytics.ejs %>
    
    <!-- Navigation Bar -->
    <% include ../partials/nav.ejs %>
    
    <!-- Page Header -->
    <% include ../partials/page_headers/main_header.ejs %>

	<!-- Main Content -->
    <% include ../partials/goals.ejs %>
    
    
    
    
    
       

    <hr>



<% include ../partials/footer.ejs %>
</body>
</html>
