<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <% include ../partials/meta/meta_votetane.ejs %>
  <% include ../partials/header.ejs %>
</head>

<body>
    <!-- Google Analytics -->
    <% include ../partials/general_analytics.ejs %>
    
    <!-- Navigation Bar -->
    <% include ../partials/nav.ejs %>
    
    <!-- Page Header -->
    <% include ../partials/page_headers/main_header.ejs %>


   

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-filler text-center">
                    <img class="img-trains" src='/img/cantrax.jpg'></img>
                    <h2>Cantrax Rail Network</h2>
                    <hr class="small-between">
                    <p>Cantrax is an initiative to bring a safe and reliable alternative to current means of transport for the Christchurch region in an effort to get traffic off the road and to get you where you need to be.</p>
                    <button type="button" onclick="location.href ='http://votetane.com/cantrax_survey';" class="btn btn-primary btn-lg btn-survey">Take a quick survey</button>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/endorsed.ejs %>
    <hr>

 <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-filler text-center">
                <a href="https://www.facebook.com/TaneApanui/">
                    <h1 class="coming-soon"> More Coming Soon </h1>
                    <p>check out Facebook for the latest</p>
                </a>
                </div>
                <!-- Pager -->
                <ul class="pager">
                    <!--
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>-->
                </ul>
            </div>
        </div>
    </div>

<% include ../partials/footer.ejs %>
</body>
</html>
